@media screen and (max-width: 480px){

    .mainTitle{
        top:-50%;
        margin-left: 3%;
        font-size: 5rem;
    }
    .freyja_logo {
        display: block;
        margin: auto;
        position: absolute;
      }
 
    .infoMain{
        display:flex;
        flex-direction: column;
    }
    
    .indexpic1{
        width: 80%;
        height: auto;
        margin: 2rem;
    }
    .indexpic2{
        width: 80%;
        height: auto;
        margin: 2rem;
    }
    
    .mobilText{
        text-align: justify;
        font-size: 16px;
    }

    .caroMobil{
        display: none;
    }

    .cardsMobil{
        display: block;
    }

    .obsImg{
        width: 80%;
    }

.forMobil{
    width: 100%;
}

    .footer_redes{
        flex-direction: row;;
    }
}

@media (min-width: 481px) {
    .caroMobil {
      display: block;
    }
    .cardsMobil {
      display: none;
    }
  }
