@media screen and (max-width: 480px){

    header{
        width: 100vw;
        .mainTitle{
            top:-50%;
            margin-left: 3%;
            font-size: 4rem;
        }
    
        .mainTitlePages{
            top:-50%;
            left: 10%;
            font-size: 4rem;
        }
    }

    .freyja_logo {
        display: block;
        margin: auto;
        position: absolute;
      }
 
    .infoMain{
        display:flex;
        flex-direction: column;
    }
    
    .indexpic1{
        width: 80%;
        height: auto;
        margin: 2rem;
    }
    .indexpic2{
        width: 80%;
        height: auto;
        margin: 2rem;
    }
    
    .mobilText{
        text-align: justify;
        font-size: 16px;
    }

    .caroMobil{
        display: none;
    }

    .cardsMobil{
        display: block;
    }

    .obsImg{
        width: 80%;
    }

    .forMobil{
        width: 100%;
    }

    .contactInfo{
        width: 80%;
        margin: 0 auto;
    }
    
    .contactMap{
        width: 100%;
        margin: 0 auto;
        margin-bottom: 2em;
        & iframe{
            width: 20em;
            height: 20em;
        }
    }

    .contactDetail{
        font-size: .7em;
    }

    .footer_redes{
        flex-direction: row;
    }
}

@media (min-width: 481px) {
    .caroMobil {
      display: block;
    }
    .cardsMobil {
      display: none;
    }
  }
