.gynSettings{
    display: flex;
    flex-wrap: wrap;
}

.gynInfo{
    margin: 5%;
}

.gynCards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.gynService{
    margin: 5%;
}
