// mixins 
@mixin flex ($direction, $wrap, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justify;
    align-items: $align;
}

// section{
//     @include flex (column, wrap, flex-start, center)
// }

// maps
$palette:(
    '1st': rgb(192,130,167),
    '2nd': rgb(164,120,149),
    '3rd': rgb(241,193,207),
    '4th': rgb(243,233,241),
);

.bg-rosy{
    background-color: map-get($map: $palette, $key: 1st);
}
.bg-rosyd{
    background-color: map-get($map: $palette, $key: 2nd);
}
.bg-thistle{
    background-color: map-get($map: $palette, $key: 3rd);
}
.bg-lav{
    background-color: map-get($map: $palette, $key: 4th);
}
