.obsMain{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.obsImg{
    border-radius: 15px;
    width: 40%;
    height: 40%;
    margin-left: 5%;
    margin-top:5%;
    margin-bottom: 5%;
}

.obsIntro{
    width: 24rem;
    margin: 6%;
    text-align: center;
}

.list-group {
    margin-bottom: 2em;
}

.list-group-item{
    background-color: rgb(243,233,241);
    border: 1px outset;
}