// variables globales

// fonts
$mainFont: 'Satisfy', cursive;
$sndFont: 'Montserrat Alternates', sans-serif;
$txtlg: 7em;
$txtmd: 2em;
$txtint: 1.8em;
$txtsm: 1.4em;


.flui{
    padding: 0px !important
}